<!doctype html>
<html ng-app="angularWidgetApp">
  <head>
    <base href="/">
    <title>angularWidgetDemo</title>
    <link rel="stylesheet" href="styles/demo.css"/>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <body ng-init="navigationCount = 0">
    <a ng-repeat="app in ['app1', 'app2', 'app3']" ng-href="#/{{app}}"
      ng-click="$parent.navigationCount = navigationCount + 1"
      style="padding: 5px">{{app}}</a>
    <span>{{navigationCount}}<br/><br/>
    <ng-view></ng-view>

    <script src="scripts/demo.js"></script>

    <script src="scripts/angular-widget.js"></script>
  </body>
</html>
